* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: url(https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container {
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  color: white;
}

.container:hover {
  box-shadow: 0 0 30px gray;
}

.title {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background: transparent;
  border: none;
  border-bottom: 2px dotted red;
  color: white;
  outline: none;
}

::placeholder {
  color: #ddd;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: gray;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
}
